body{
    background: white;
}
.navigationL{
    padding: 10px;
    float: left; 
    opacity: 0.75;
}
.navigationL a{
    text-decoration-line: none;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #000;
    opacity: 0.75;
}
.navigationR{
    padding: 10px;
    float: right;
    opacity: 0.75;
 }
 .navigationR a{
    text-decoration-line: none;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #000;
 }
 .navigationR img{
    width: 20px;
    height: 20px;
 }
.googleimg{
padding-top: 150px;
}
.search input{
    width: 500px;
    height: 40px;
    border: 1px solid silver;
    margin-bottom: 10px;
    background-image: url('mic.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 475px;
}
.buttons input{
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    opacity: 0.75;
    width: 150px;
    height: 30px;
    background-color: rgb(230, 230, 230);
    border: 0;
}
.footerL{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: rgb(230, 230, 230);
    border: 1px solid #e6e6e6;
    padding: 5px;
    float: left; 
    opacity: 0.75;
}
.footerL a{
    text-decoration-line: none;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #000;
    opacity: 0.75;
}
.footerR{
    position: absolute;
    float: right;
    bottom: 0px;
    right: 0px;

    padding: 5px;
    float: right; 
    opacity: 0.75;
 }
 .footerR a{
    text-align: right;
    text-decoration-line: none;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #000;
    opacity: 0.75;
 }
 #button{
    margin: 5px
}
#padding{
    padding-left: 10px;
}
#me{
    padding-left: 10px;
    padding-right: 10px;
}
a:hover{
    text-decoration-line: underline;
}